@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root[theme='light']{
  --background: rgb(255, 255, 255);
  --title-color:rgb(7, 7, 7);
}

:root[theme='dark']{
  --background: rgb(0, 10, 23);
  --title-color:rgb(255, 255, 255);
}


body {
  color: rgb(var(--foreground-rgb));
  background: var(--background)
}

::placeholder {
  color: #f8f8ff;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


::-webkit-scrollbar-thumb {
  background-color:  #007FFF;
  border-radius: 2px;
}

.main-title-dark{
  font-size: 25px;
  font-weight: 600;
}

.header-title-c{
  color: var(--title-color);
  font-weight: 600;
}

.header-sm-title-c{
  color: black;
  font-weight: 600;
}

.sm-nav-item{
  border-radius: 20px;
  padding: 20px;

}

.nav-sm-close{
  display: none;
}



.nav-sm-open{

}